<h1>All Inscriptions</h1>
<form class=inscriptions-toolbar action=/inscriptions method=get>
  <label class="toolbar-btn cursed-toggle" title="show cursed only">
    <input type=checkbox name=cursed value=1>
    <img class=icon src=/static/skull.svg>
  </label>
  <details class=range-popover>
    <summary class=toolbar-btn title="filter by inscription number range">Range</summary>
    <div class=range-fields>
      <label>from <input type=number name=from placeholder="0"></label>
      <label>to <input type=number name=to placeholder="∞"></label>
      <button type=submit class=toolbar-btn>apply</button>
    </div>
  </details>
  <label class=toolbar-select>
    <select name=rarity>
      <option value=any>Satributes</option>
      <option value=uncommon>Uncommon</option>
      <option value=rare>Rare</option>
      <option value=epic>Epic</option>
      <option value=legendary>Legendary</option>
      <option value=mythic>Mythic</option>
    </select>
  </label>
  <label class=toolbar-select>
    <select name=sort>
      <option value=newest{{self.selected_if(Sort::Newest)}}>Recently Inscribed</option>
      <option value=oldest{{self.selected_if(Sort::Oldest)}}>Earliest Inscribed</option>
    </select>
  </label>
</form>
<div class=thumbnails>
%% for (id, media) in &self.inscriptions {
  {{Iframe::thumbnail(*id, *media)}}
%% }
</div>
<div class=center>
%% if let Some(prev) = self.prev {
<a class=prev href=/inscriptions/{{prev}}{{self.sort_query()}}>prev</a>
%% } else {
prev
%% }
%% if let Some(next) = self.next {
<a class=next href=/inscriptions/{{next}}{{self.sort_query()}}>next</a>
%% } else {
next
%% }
</div>
